{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="page-header" style="text-align: center;">
  <h1>Welcome to Web Patient Medi-Screen</h1>
</div>
<div id="carousel-notification" class="bootstrap-carousel">
  <img src="https://cdn.pixabay.com/photo/2016/01/19/15/05/doctor-1149149_960_720.jpg" data-title="doge" data-content="Hey there!">
  <img src="https://static2.bigstockphoto.com/5/7/1/large1500/175937584.jpg" data-title="laika" data-content="Hey ...!">
  <img src="https://media.gettyimages.com/photos/medical-doctor-touching-virtual-interface-button-of-healthcare-picture-id701251824" data-title="Medical Doctor">
</div>
<p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added within <code>#wrap</code> with <code>padding-top: 60px;</code> on the <code>.container</code>.</p>

{% endblock %}
